[submodule "rpi-qt"]
	path = rpi-qt
	url = git@github.com:angeluslove/rpi-qt.git
[submodule "piclone"]
	path = piclone
	url = git@github.com:raspberrypi-ui/piclone.git
[submodule "rpi-clone"]
	path = rpi-clone
	url = git@github.com:billw2/rpi-clone.git
[submodule "PiBackup"]
	path = PiBackup
	url = git@github.com:coconut147/PiBackup.git
[submodule "dcs-tools"]
	path = dcs-tools
	url = git@github.com:aktos-io/dcs-tools.git
[submodule "pi_backup"]
	path = pi_backup
	url = git@github.com:aweijnitz/pi_backup.git
[submodule "rasp"]
	path = rasp
	url = git@github.com:conanwhf/RaspberryPi-script.git
